@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Heebo&family=Rubik:wght@300&family=Suez+One&display=swap');

* {
  /* font-family: "Rubik", sans-serif !important; */
  /* font-family: "ploni",  !important; */
  font-family: 'Assistant', sans-serif;

  cursor:default;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  direction: rtl;
}

::selection {
  background: transparent;
}

.css-fcjhe2-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab{
  width: 70px !important;
  height: 70px !important;
}